@tailwind base;

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500 900;
    font-display: swap;
    src: url('../fonts/popp.woff2');
    font-stretch: 75% 125%;
  }